# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
    - id: flake8
      # Unable to apply setup.cfg https://github.com/pre-commit/pre-commit-hooks/issues/112
      exclude: '^doc/conf.py|pytd/pandas_td/ipython.py'
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
    - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
    - id: isort
  - repo: https://github.com/python/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.7
